<div class="container" style="margin-top: 15px;">
    <a href="/" style="color: cornsilk; font-size: large;"><strong>NeighborHood</strong></a>
    <a href="/" style="color: orangered; padding-left: 20px;"><strong><i class="glyphicon glyphicon-home"></i> Home</strong></a>
    <a href="/" style="color: orangered; padding-left: 10px;"><strong><i class="glyphicon glyphicon-user"></i> Profile</strong></a>
    <a href="/" style="color: orangered; padding-left: 10px;"><strong><i class="glyphicon glyphicon-plus"></i> Post</strong></a>
    <a href="/" style="color: orangered; padding-left: 10px;"><strong><i class="glyphicon glyphicon-log-out"></i> Log Out</strong></a>
</div>

  