<div class="container" style="margin-top: 15px;">
    <a href="/" style="color: cornsilk; font-size: x-large;"><strong>NeighborHoodApp</strong></a>
    <a href="/" style="color: orangered; padding-left: 30px;"><strong><i class="glyphicon glyphicon-home"></i> Home</strong></a>
    <a href="/" style="color: orangered; padding-left: 15px;"><strong><i class="glyphicon glyphicon-user"></i> Profile</strong></a>
    <a href="/" style="color: orangered; padding-left: 15px;"><strong><i class="glyphicon glyphicon-plus"></i> Post</strong></a>
    <a href="/" style="color: orangered; padding-left: 15px;"><strong><i class="glyphicon glyphicon-log-out"></i> Log Out</strong></a>
</div>

  