{% extends 'home/base.html' %}
{% block content %}
{{block.super}}
<style>
    .card {
        margin-top: 30px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
        padding: 14px 80px 18px 36px;
        cursor: pointer;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }

    .card h3 {
        font-weight: 600;
    }

    .card img {
        position: absolute;
        top: 20px;
        right: 15px;
        max-height: 120px;
    }

    .card-1 {
        background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 80px;
        height: 150px;
    }

    .card-2 {
        background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 80px;
        height: 150px;
    }

    .card-3 {
        background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 80px;
        height: 150px;
    }

    @media(max-width: 990px) {
        .card {
            margin: 20px;
        }
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-1">
               <a><h4><i class="glyphicon glyphicon-info-sign"></i> About Us</h4></a> 
                <p>NeighborHoodApp allows you to be in the loop about everything happening in your neighborhood.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-2">
                <a><h4><i class="glyphicon glyphicon-list"></i> Businesses</h4></a>
                <p>Find a list of different businesses near your neighborhood.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-3">
                <a><h4><i class="glyphicon glyphicon-earphone"></i> Emergency Contacts</h4></a>
                <p>Find contact information for emergency services near your neighborhood.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}